<div class="container">
  <div class="row">
    <article
      class="col-lg-3 col-md-4 tm-gallery-item"
      *ngFor="let food of listFood"
    >
      <figure>
        <a routerLink="/store/{{ food.storeId }}/foods">
          <img
            src="{{ food.imageUrl }}"
            alt="Image"
            class="img-fluid tm-gallery-img"
            style="height: 160px"
          />
        </a>
        <figcaption>
          <h4 class="tm-gallery-title">{{ food.name }}</h4>
          <div class="tm-gallery-price-box">
            <span class="tm-gallery-price">{{ food.price }} vnd</span>
          </div>
          <button class="tm-gallery-button" (click)="addToCart(food)">
            Add to cart
          </button>
        </figcaption>
      </figure>
    </article>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
