<div class="food">
  <div class="container" *ngIf="listFood">
    <div class="row">
      <article
        class="col-lg-3 col-md-4 tm-gallery-item"
        *ngFor="let food of listFood"
      >
        <figure>
          <img
            src="{{ food.imageUrl }}"
            alt="Image"
            class="img-fluid tm-gallery-img"
            style="height: 160px"
          />
          <figcaption>
            <h4 class="tm-gallery-title">{{ food.name }}</h4>
            <div class="tm-gallery-price-box">
              <span class="tm-gallery-price">{{ food.price }} vnd</span>
            </div>
            <button class="tm-gallery-button">Add to cart</button>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>
</div>
